Que.1 List any five functions of the pandas library with execution.

Ans: 1) read_csv(): This function is used to read data from a CSV file and create a DataFrame.

In [2]:
import pandas as pd

# Reading a CSV file and creating a DataFrame
data = pd.read_csv('sales_data.csv')
print(data.head())

         Date    Product  Sales    Category
0  2023-07-01  Product A    100  Category 1
1  2023-07-02  Product B    150  Category 1
2  2023-07-03  Product A     80  Category 1
3  2023-07-04  Product C    200  Category 2
4  2023-07-05  Product B    120  Category 1

2) head(): The head() function is used to display the first n rows of a DataFrame.

In [3]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, 22, 28, 21]}

df = pd.DataFrame(data)
print(df.head(3))

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   22

3) groupby(): The groupby() function is used to group data in a DataFrame based on one or more columns and perform aggregate functions on them.

In [2]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Department': ['HR', 'IT', 'IT', 'HR', 'Finance'],
        'Salary': [60000, 75000, 80000, 55000, 90000]}

df = pd.DataFrame(data)
grouped = df.groupby('Department')['Salary'].mean()
print(grouped)

Department
Finance    90000.0
HR         57500.0
IT         77500.0
Name: Salary, dtype: float64

4) fillna(): The fillna() function is used to replace missing values (NaN) in a DataFrame with specified values.

In [4]:
import pandas as pd
import numpy as np

data = {'A': [1, 2, np.nan, 4, 5],
        'B': [np.nan, 2, 3, 4, np.nan]}

df = pd.DataFrame(data)
df_filled = df.fillna(0)
print(df_filled)

     A    B
0  1.0  0.0
1  2.0  2.0
2  0.0  3.0
3  4.0  4.0
4  5.0  0.0

5) merge(): The merge() function is used to combine two or more DataFrames based on a common column or index

In [6]:
import pandas as pd

data1 = {'ID': [1, 2, 3, 4],
         'Name': ['Alice', 'Bob', 'Charlie', 'David']}

data2 = {'ID': [3, 4, 5, 6],
         'Salary': [60000, 55000, 70000, 80000]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
merged_df = pd.merge(df1, df2, on='ID')
print(merged_df)

   ID     Name  Salary
0   3  Charlie   60000
1   4    David   55000

Que.2 Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

Ans:

In [7]:
import pandas as pd

def reindex_dataframe(df):
    new_index = pd.RangeIndex(start=1, stop=df.shape[0]*2, step=2)
    df.set_index(new_index,inplace=True)
    return df

# Example usage
data = {'A': [10, 20, 30, 40],
        'B': [100, 200, 300, 400],
        'C': [1000, 2000, 3000, 4000]}
df = pd.DataFrame(data)

print(reindex_dataframe(df))

    A    B     C
1  10  100  1000
3  20  200  2000
5  30  300  3000
7  40  400  4000

Que.3 You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

Ans:

In [11]:
import pandas as pd

def cal_sum_first_three(df):
    first_three_sum = df['Values'].head(3).sum()
    print("Sum of the first three values:", first_three_sum)

# Replace 'Values' with the actual column name containing the values
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
cal_sum_first_three(df)

Sum of the first three values: 60

Que.4 Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [12]:
import pandas as pd

def word_count_column(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))
    return df

# Replace 'Text' with the actual column name containing the text
data = {'Text': ["This is my pwskills Assignment.","it's Data Science Masters 2.0.","Classes by Sudhnashu sir and Krish sir."]}
df = pd.DataFrame(data)
df = word_count_column(df)
print(df)

                                      Text  Word_Count
0          This is my pwskills Assignment.           5
1           it's Data Science Masters 2.0.           5
2  Classes by Sudhnashu sir and Krish sir.           7

Que.5 How are DataFrame.size() and DataFrame.shape() different?

Ans:

Both DataFrame.size and DataFrame.shape are attributes in Pandas that provide information about the dimensions of a DataFrame, but they convey different information:

DataFrame.size:
DataFrame.size returns the total number of elements in the DataFrame, which is the product of the number of rows and the number of columns.
It provides a single integer value representing the total size of the DataFrame's data.

DataFrame.shape:
DataFrame.shape returns a tuple representing the dimensions of the DataFrame in the format (number_of_rows, number_of_columns).
It provides a clearer breakdown of the DataFrame's structure, separating the number of rows and columns.
See the exapmle given below:

In [13]:
import pandas as pd

data = {'Column1': [1, 2, 3], 'Column2': [4, 5, 6]}
df = pd.DataFrame(data)

print("DataFrame size:", df.size)      
print("DataFrame shape:", df.shape)

DataFrame size: 6
DataFrame shape: (3, 2)

Que.6 Which function of pandas do we use to read an excel file?

Ans:

In Pandas, you can use the pd.read_excel() function to read data from an Excel file.The pd.read_excel() function automatically detects the data in the Excel file and creates a DataFrame. You can then manipulate and analyze the data using the Pandas DataFrame functionalities.

In [ ]:
import pandas as pd

# Replace 'file_path.xlsx' with the actual path to your Excel file
file_path = 'file_path.xlsx'
df = pd.read_excel(file_path)

# Now you can work with the DataFrame 'df' containing the data from the Excel file
print(df)

Que.7 You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

Ans:

In [15]:
import pandas as pd

def extract_username(df):
    df['Username'] = df['Email'].apply(lambda email: email.split('@')[0])
    return df

# Replace 'Email' with the actual column name containing the email addresses
data = {'Email': ['sudhanshu.kumar@yahoo.com', 'krish.naik@gmail.com', 'mohan.swami@gmail.com']}
df = pd.DataFrame(data)
df = extract_username(df)
print(df)

                       Email         Username
0  sudhanshu.kumar@yahoo.com  sudhanshu.kumar
1       krish.naik@gmail.com       krish.naik
2      mohan.swami@gmail.com      mohan.swami

Que.Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:

  A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Ans:

In [24]:
import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

# Replace 'A', 'B', and 'C' with the actual column names
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)
selected_df = select_rows(df)
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Que.9 Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

Ans:

In [19]:
import pandas as pd

def cal_stats(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std_deviation = df['Values'].std()
    return mean, median, std_deviation

# Replace 'Values' with the actual column name containing the values
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

Que.10 Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

Ans:

In [20]:
import pandas as pd

def cal_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

# Replace 'Sales' and 'Date' with the actual column names
data = {'Date': pd.date_range(start='2023-01-01', periods=20),
        'Sales': [10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105]}
df = pd.DataFrame(data)
df = cal_moving_average(df)
print(df)

         Date  Sales  MovingAverage
0  2023-01-01     10           10.0
1  2023-01-02     15           12.5
2  2023-01-03     20           15.0
3  2023-01-04     25           17.5
4  2023-01-05     30           20.0
5  2023-01-06     35           22.5
6  2023-01-07     40           25.0
7  2023-01-08     45           30.0
8  2023-01-09     50           35.0
9  2023-01-10     55           40.0
10 2023-01-11     60           45.0
11 2023-01-12     65           50.0
12 2023-01-13     70           55.0
13 2023-01-14     75           60.0
14 2023-01-15     80           65.0
15 2023-01-16     85           70.0
16 2023-01-17     90           75.0
17 2023-01-18     95           80.0
18 2023-01-19    100           85.0
19 2023-01-20    105           90.0

Que.11 You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:

  Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05

Ans:

In [26]:
import pandas as pd

def weekday_column(df):
    df['Weekday'] = df['Date'].dt.day_name()
    return df

# Replace 'Date' with the actual column name containing the dates
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])  # Convert 'Date' column to datetime
df = weekday_column(df)
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Que.12 Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

Ans:

In [22]:
import pandas as pd

def select_rows_by_date_range(df, start_date, end_date):
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    selected_rows = df[mask]
    return selected_rows

# Replace 'Date' with the actual column name containing the timestamps
data = {'Date': ['2023-01-01', '2023-01-15', '2023-01-20', '2023-02-05', '2023-03-10']}
df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])  # Convert 'Date' column to datetime

start_date = '2023-01-01'
end_date = '2023-01-31'
selected_df = select_rows_by_date_range(df, start_date, end_date)
print(selected_df)

        Date
0 2023-01-01
1 2023-01-15
2 2023-01-20

Que.13 To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

Ans:

The first and foremost library you need to import to use the basic functions of Pandas is the pandas library itself. You can import it using the following statement:

In [ ]:
import pandas as pd

By convention, pd is often used as an alias for the pandas library, making it easier to reference its functions and classes throughout your code. Once you've imported the pandas library, you can use its various functions and classes to work with data using DataFrames, Series, and other Pandas data structures.